#center {
	margin:auto;
	text-align: center;
}

#options {
   display:table;
   margin: 0 auto;
   
}

.jumbotron{
	background-color: #337ab7;
	margin-top: 0px;
	margin-bottom: 0px;

}

h1.pagehead{
	font-size: 34px;
	color:white;
}

input.mobile,select{
	margin-right: 350px;
	float:right;
}

.radio{
	margin-left: 20px;
}




